#login-form {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial;
    width: 20%;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* border: 2px solid red; */
}